<div id="sidebar" class="active" th:fragment="sidebar">
  <div class="sidebar-wrapper active">
    <div class="sidebar-header">
      <div class="d-flex justify-content-between">
        <div class="logo">
          <a th:href="@{/}"><img th:src="@{/assets/images/logo/logo.png}" alt="Logo" style="width:70px; height:auto;">
          </a>
          Berd
        </div>
        <div class="toggler">
          <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
        </div>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul class="menu">
        <li class="sidebar-title">GESTION</li>
        
        <!-- Dépenses -->
        <li class="sidebar-item has-sub">
          <a href="#" class='sidebar-link'>
            <i class="bi bi-graph-up"></i>
            <span>Dépenses</span>
          </a>
          <ul class="submenu">
            <li class="submenu-item">
              <a th:href="@{/depenses/liste}"><i class="bi bi-list-ul"></i> Liste</a>
            </li>
            <li class="submenu-item">
              <a th:href="@{/depenses/saisie}"><i class="bi bi-plus-circle"></i> Nouvelle dépense</a>
            </li>
            <li class="submenu-item">
              <a th:href="@{/depenses/stats}"><i class="bi bi-bar-chart"></i> Statistiques</a>
            </li>
          </ul>
        </li>

        <!-- Caisses -->
        <li class="sidebar-item has-sub">
          <a href="#" class='sidebar-link'>
            <i class="bi bi-safe2"></i>
            <span>Caisses</span>
          </a>
          <ul class="submenu">
            <li class="submenu-item">
              <a th:href="@{/caisses/liste}"><i class="bi bi-list-ul"></i> Liste des caisses</a>
            </li>
            <li class="submenu-item">
              <a th:href="@{/caisses/saisie}"><i class="bi bi-plus-circle"></i> Nouvelle caisse</a>
            </li>
            <li class="submenu-divider"></li>
            <li class="submenu-item">
              <a th:href="@{/caisses-mvts/liste}"><i class="bi bi-arrow-left-right"></i> Mouvements</a>
            </li>
            <li class="submenu-item">
              <a th:href="@{/caisses-mvts/saisie}"><i class="bi bi-plus-circle"></i> Nouveau mouvement</a>
            </li>
          </ul>
        </li>

        <li class="sidebar-title">CONFIGURATION</li>
        
        <!-- Catégories -->
        <li class="sidebar-item has-sub">
          <a href="#" class='sidebar-link'>
            <i class="bi bi-bookmark-fill"></i>
            <span>Catégories</span>
          </a>
          <ul class="submenu">
            <li class="submenu-item">
              <a th:href="@{/categorie-depenses/liste}"><i class="bi bi-list-ul"></i> Catégories</a>
            </li>
            <li class="submenu-item">
              <a th:href="@{/categorie-depenses/saisie}"><i class="bi bi-plus-circle"></i> Nouvelle catégorie</a>
            </li>
            <li class="submenu-divider"></li>
            <li class="submenu-item">
              <a th:href="@{/categorie-depense-details/liste}"><i class="bi bi-list-ul"></i> Détails</a>
            </li>
            <li class="submenu-item">
              <a th:href="@{/categorie-depense-details/saisie}"><i class="bi bi-plus-circle"></i> Nouveau détail</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
  </div>
</div>